@page "/BLCinemaViewingDetails"
@rendermode InteractiveServer
@using Cinema.Blazor.Components
@using Cinema.Infrastructure
@using Cinema.Core
@inject NavigationManager navigationManager
@inject CinemaViewingService _service

<PageTitle>BLCinemaViewingDetails</PageTitle>

<h1>BIO TRANAN</h1>


här ska CinemaViewingDetails skrivas
och sedan ska det gå att reservera platser

