@page "/"
<PageTitle>Home</PageTitle>

<style>
    .container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
    }

    .biograf-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20px;
        border-radius: 10px;
    }

    .header-text {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .description-text {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .btn-primary {
        font-size: 18px;
    }
</style>

<div class="container">
    <img src="https://cdm0lfbn.cloudimg.io/v7/_images_base_/image_uploader/photos/30/original/fif-2010-l-haegeli-salle-de-cinema-0026-jpg.jpg?ua=1701539855&p=larger" alt="BIO TRANAN" class="biograf-image">
    <div class="overlay">
        <h1 class="header-text">Welcome to BIO TRANAN!</h1>
        <p class="description-text">
            BIO TRANAN är din destination för underhållning. Utforska vårt utbud av kommande visningar och börja din biografupplevelse redan idag.
        </p>
        @* <p class="description-text">
            För att se kommande visningar, tryck på knappen nedan.
        </p>
        <a href="/UpcomingScreenings" class="btn btn-primary">Upcoming Screenings</a> *@
    </div>
</div>




