@page "/UpcomingScreeningsDetails"
@rendermode InteractiveServer
@using Cinema.Blazor.Components
@using Cinema.Infrastructure
@using Cinema.Core
@inject NavigationManager navigationManager
@inject CinemaViewingService _service

<PageTitle>BLCinemaViewingDetails</PageTitle>

<h1>BIO TRANAN</h1>


här ska CinemaViewingDetails skrivas
och sedan ska det gå att reservera platser


@* 
/*
denna länk kan användas för att kolla i bootstrap om hur man kan skapa en form för resgistering av en reservation
https://getbootstrap.com/docs/4.0/components/forms/
https://getbootstrap.com/docs/4.0/components/input-group/

Denna länk kan användas för att kolla i bootstrap om hur man kan skapa en model för att visa sidan CinemaViewing
https://getbootstrap.com/docs/4.0/components/modal/

Denna länk kan användas för att kolla i bootstrap om hur man kan skapa en länk för att navigera till en video i youtube
https://getbootstrap.com/docs/4.0/utilities/embed/
*/ *@



